{% extends "layout.html" %}
{% block title %}Главная страница {% endblock %}

<!-- TODO: Доработать стили. Сделать нормальную кнопку добавления. и др. -->
{% block content %}
    <a class="place-add-link" href="{{ url_for('add_place') }}"> Добавить место </a>
    <h1> Все места </h1>
    
    <ul class="image-grid">
    {% for p in places %}
        <li class="grid-item">
            <a class="place-link" href="{{ url_for('open_place', place_id = p.id)}}">
                {% if p.avatar_id %}
                <img class="place-img" src="{{ url_for('static', filename='uploads/avatars/'+p.avatar_id) }}">
                {% endif %}
                <div>
                    {{p.name}}                     
                    {% if p.user_id == user.id %}
                        "*"
                    {% endif %}
                </div>

            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}