{% extends "layout.html" %}
{% block title %}Главная страница {% endblock %}

<!-- TODO: Доработать стили. Сделать нормальную кнопку добавления. и др. -->
{% block content %}
    {% if user %}
        <a class="user-indicator" href="{{ url_for('open_user') }}">{{user.name}}</a>
        <a class="login-link" href="{{ url_for('logout') }}">выйти</a>
        <a class="place-add-link" href="{{ url_for('add_place') }}"> Добавить место </a>
    {% else %}
        <a class="login-link" href="{{ url_for('login') }}">войти в систему</a>
    {% endif %}

    <h1> Все места </h1>
    
    <ul class="image-grid">
    {% for p in places %}
        <li class="grid-item">
            <a class="place-link" href="/place/{{p.id}}">
                <img class="grid-img" src="{{ url_for('static', filename='img/testPlace.jpg') }}">
                <div>{{p.name}}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}