<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <!-- Add normalize.css which enables browsers to render all elements more consistently and in line with modern standards as it only targets particular styles that need normalizing -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="all">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="header">
      <a href="/" >
        <img class="header-image" src="{{ url_for('static', filename='img/Cup.jpg') }}">
      </a>
      <div class ="site-name">ВМесте</div>
      <div class="search-input">
        {% from "_nolabels_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('place_search') }}" enctype="multipart/form-data">
          {{ g.searchForm.hidden_tag() }}
          <p>
            {{ render_field(g.searchForm.search_input) }}
          </p>
          <p><input type="submit" value="Поиск" hidden></p>
        </form>
      </div>
      <div class = "user-header">
      {% if g.user %}
        <a class="user-indicator" href="{{ url_for('open_user') }}">{{g.user.name}}</a>
        <a class="login-link" href="{{ url_for('logout') }}">выйти</a> 
      {% else %}
        <a class="login-link" href="{{ url_for('login') }}">войти в систему</a>
      {% endif %}
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class='flashes'>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <!-- &copy; Copyright 2015. -->
      {% endblock %}
    </div>
  </body>
</html>
