{% extends "layout.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
  <h1>Окунитесь в мир интересных мест ВМесте с нами!</h1>

  {% from "_formhelpers.html" import render_field %}
  <form method="POST" action="{{ url_for('login') }}">
     {{ form.hidden_tag() }}
    <p>
      {{ render_field(form.login) }}
    </p>
    <p>
      {{ render_field(form.password) }}
    </p>
    <p><input type="submit" value="Войти"></p>
  </form>

  <p>
    Нет учетной записи? <a href="{{ url_for('registration') }}">Зарегистрируйтесь</a>.
  </p>
{% endblock %}
