{% extends "layout.html" %}
{% block title %}Результат поиска {% endblock %}

{% block content %}
    <ul class="search-result-list">
        <li class="search-result">
            <div class="search-result-photo">
                <img src="...">
            </div>
            <div class="search-result-information"></div>
        </li>
        <li class="search-result">
            <div class="search-result-photo">
                <img src="...">
            </div>
            <div class="search-result-information">
                <div class="information-title">Кафе</div>
                <div class="infarmation-text">...</div>
                <div class="information-title">Адрес</div>
                <div class="infarmation-text">...</div>
                <div class="information-title">Телефон</div>
                <div class="infarmation-text">...</div>
            </div>
        </li>
        <li class="search-result">
            <div class="search-result-photo">
                <img src="...">
            </div>
            <div class="search-result-information">
                <div class="information-title">Кафе</div>
                <div class="infarmation-text">...</div>
                <div class="information-title">Адрес</div>
                <div class="infarmation-text">...</div>
                <div class="information-title">Телефон</div>
                <div class="infarmation-text">...</div>
            </div>
        </li>
    </ul>
{% endblock %}