{% extends "layout.html" %}
{% block title %}Редактирование места{% endblock %}

{% block content %}


{% from "_formhelpers.html" import render_field %}
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
    {{ render_field(form.name) }}
    </p>
     <p>
    {{ render_field(form.description) }}
    </p>
     <p>
    {{ render_field(form.avatar) }}
    </p>
    <p><input type="file" name="file[]" multiple="">Дополнительные фото</p>
    <p><input type="submit" value="Сохранить"></p>
  </form>

{% endblock %}