{% extends "layout.html" %}
{% block title %}Пользователь{% endblock %}

<!-- TODO: Доработать стили. Сделать нормальную кнопку добавления. и др. -->
{% block content %}

<div class="user">
    <div class="user__name">{{user.name}}</div>

    <!-- нужно добавить извлечение картинки <img class="user__img" src="{{ url_for('static', filename='') }}"> -->
    <img class="user__img" src="{{ url_for('static', filename='img/testPhoto.png') }}">
</div>


<h1> Мои места: </h1>
<div class="user__places">
    <ul class="image-grid">
    {% for jup in join_user_places %}
        <li class="grid-item">
            <a class="place-link" href="{{ url_for('open_place',place_id = jup.place_id) }}">
                <img class="grid-img" src="{{ url_for('static', filename='img/testPlace.jpg') }}">
                <div>
                    {{places.get(jup.place_id).name}}
                </div>
            </a> 
            <a class="place__remove" href="{{ url_for('remove_place_from_user',user_id = user.id, place_id = jup.place_id) }} /user/remove_place/{{user.id}}/{{jup.place_id}}">Забыть место</a>
        </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}