body {
    width: 960px;
    margin: 0 auto;
}

.header {
    display: inline-block;
}
.header-image {
    display: block;
    float: left;
    height: 100px;
    margin-left: 30px;
}

.site-name {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 54px;
    height: 100px;
}

.search-input {
    float: left;
    font-size: 30px;
    display: block;
    margin-top: 25px;
    margin-left: 200px;
}

.image-grid {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    /*justify-content: space-around;*/
    justify-content: space-between
}

.grid-item {
    /*background: tomato;*/
    padding: 5px;
    /*width: 200px;*/
    height: 200px;
    margin-top: 30px;
  
    line-height: 20px;
    /*color: white;*/
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.grid-img {
    height: inherit;
    width: inherit;
}

.place-link {
    height: inherit;
    width: inherit;
}

.place-up {
    display: inline-block;
}


.place-right {
    display: block;
    margin-left: 50px;
    width: 40%;
    float: left;
}

.place-name {
    font-size: 20pt;
    margin-bottom: 10px;
    margin-top: 20px;
}

.place-img {
    width: 50%;
    margin-left: 20px;
    display: block;
    float: left;
}

/*.tabs-content {
    width:960px;
    height:300px;
    overflow:hidden;
}
.tabs-content ul {
    list-style: none;
    // Эти 3 линии для Opera 
    height: 320px;
    overflow: scroll;
    overflow-y: hidden;
}
.tabs-content ul li {
    width:960px;
    height:300px;
}*/

.user {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 100px;
}

.user__name {
    display: block;
    float: left;
    font-size: 30px;
    padding-top: 30px;
}

.user__img {
    float: left;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

.place__remove {
    font-size: 12px;
}
.user__places {
    float: none;
    display: block;
}